[Unit]
Description=Starts disksleeper.service periodically
Requires=disksleeper.service

[Timer]
Unit=disksleeper.service
OnUnitActiveSec=3m

[Install]
WantedBy=timers.target